EXPO_PUBLIC_ACCESS_TOKEN=

EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Stripe Configuration
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
EXPO_PUBLIC_STRIPE_SECRET_KEY=

# Agora Configuration
EXPO_PUBLIC_AGORA_APP_ID=